%div#centerwrapper
  .cloud#2
    %a{:href => "http://sfdaylabor.herokuapp.com/"}
      %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
  .cloud#3
    %a{:href => "https://github.com/gdomingu"}
      %img(src='http://i287.photobucket.com/albums/ll124/falk826/Secert%20of%20The%20Black%20Unicorn/1-cloud.png')
  .cloud#4
    %a{:href => "www.smitten.us"}
      %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
  .cloud#5
    %a{:href => "https://twitter.com/Gabudomingu"}
      %img(src='http://i287.photobucket.com/albums/ll124/falk826/Secert%20of%20The%20Black%20Unicorn/1-cloud.png')
  .cloud#6
    %a{:href => "www.linkedin.com/pub/gabriel-dominguez/29/495/667/"}
      %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')

