%html
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/normalize.css", :rel => "stylesheet", :type => "text/css"}

  %body
    #language
      %a{:href => ""} English
      %a{:href => "/japanese"}日本語
    #homeicon
      %a{:href => '/'}
        %img(src='/img/home.png')
    #centerwrapper
      .title
        %h1 Gabe Dominguez
      .cloud#2
        %a{:href => "http://sfdaylabor.herokuapp.com/", :title => "SF Day Labor Program"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
      .cloud#3
        %a{:href => "https://github.com/gdomingu", :title => "Github"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud.png')
      .cloud#4
        %a{:href => "http://www.smitten.us", :title => "Smitten"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
      .cloud#5
        %a{:href => "https://twitter.com/Gabudomingu", :title => "Twitter"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud.png')
      .cloud#6
        %a{:href => "http://www.linkedin.com/pub/gabriel-dominguez/29/495/667/", :title => "LinkedIn"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
      .cloud#7
        %a{:href => "towersofhanoi", :title => "Towers of Hanoi"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud.png')
      .desc
        #hidelink
          .close
        #dlpcontent
          %h1 SF Day Labor Program
          %p
            %a{:href => "http://sfdaylabor.herokuapp.com/"}This
            is a rails app I created by request of the SF Day Labor Program and Women's Collective. It was my first time working for a client.
          %p I was pleased to discover that building something that was going to be used by real people while working with someone who had zero technical experience was very rewarding. The client told me about the problems within the organization, and I built something to solve those problems.
          %p Main Goals:
          %ul
            %li Set up a relational database to help organize all the information about the members of the program.
            %li Build an admin interface tailored to the employees of the organization thereby improving efficiency so they can spend less time with busy work.
            %li Create new functionality to improve user experience for potential employers who come to the website.
        #smittencontent
          %h1 Smitten
          %p
            %a{:href => "http://www.smitten.com"}Smitten
            was my final project built in the last week of General Assembly's
            %a{:href => "https://generalassemb.ly/education/web-development-immersive"}Web Development Immersive.
          %p
            The team consisted of 3 of my amazing classmates:
            %a{:href => "http://bayleefeore.com"}Baylee,
            %a{:href => "http://ykitten.github.io"}Ykat,
            and
            %a{:href => ""}Eric,
            all who like myself had no previous knowledge of programming before this class.
          %p Smitten is an app created to help facilitate love at first sight. Being young and romantically optimistic, our team decided to make an app that will help you connect with the boy or girl you fall in love with while in line at the grocery store or at the laundromat.
          %p Highlights:
          %ul
            %li One page mobile web app using Ajax
            %li Swipe to navigate functionality
            %li Social login with Facebook
            %li User messaging
        #hanoicontent
          %h1 Towers of Hanoi
          %p
            %a{:href => "towersofhanoi"}Towers of Hanoi
            is a JavaScript game where the goal is to get all the donuts stacked up in the right order on the rightmost peg. I decided to utilize jQuery UI to add a little to the user experience by asking them to drag the "donuts" over rather than just clicking.
          %p While this was originally built in a rails environment, because it is 100% a "front-end" app, I simply moved it over to a static page on this pofolio. It uses no ruby, only HAML, JavaScript, and CSS.
          %p Please enjoy!
      .links
        #mailicon
          %a{:href => 'mailto:gabe.p.dominguez@gmail.com'}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/email.png')
        #githubicon
          %a{:href => "https://github.com/gdomingu"}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/github.png')
        #twittericon
          %a{:href => "https://twitter.com/Gabudomingu"}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/twitter.png')
        #linkedinicon
          %a{:href => "http://www.linkedin.com/pub/gabriel-dominguez/29/495/667/"}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/linkedin.png')









