%html
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/normalize.css", :rel => "stylesheet", :type => "text/css"}

  %body
    #language
      %a{:href => "/"} English
      %a{:href => "/japanese"}日本語
    #homeicon
      %a{:href => '/'}
        %img(src='/img/home.png')
    #centerwrapper
      .title
        %h1　ガブリエル・ドミンゲス
      .cloud#2
        %a{:href => "http://sfdaylabor.herokuapp.com/", :title => "SF日雇い労働プログラム"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
      .cloud#3
        %a{:href => "https://github.com/gdomingu", :title => "Github"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud.png')
      .cloud#4
        %a{:href => "http://www.smitten.us", :title => "Smitten"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
      .cloud#5
        %a{:href => "https://twitter.com/Gabudomingu", :title => "Twitter"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud.png')
      .cloud#6
        %a{:href => "http://www.linkedin.com/pub/gabriel-dominguez/29/495/667/", :title => "LinkedIn"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud_upside.png')
      .cloud#7
        %a{:href => "towersofhanoi", :title => "ハノイの塔"}
          %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/1-cloud.png')
      .desc
        #hidelink
          .close
        #dlpcontent
          %h2 サンフランシスコ日雇い労働プログラム
          %p
            %a{:href => "http://sfdaylabor.herokuapp.com/"}これは
            私が「サンフランシスコ日雇い労働プログラム」と「女子集団」からの依頼を元に作成されたRailsアプリです。また、本作品は私が初めてクライアントのために制作したものです。
          %p このアプリは実際、一般人や大衆が本利用するためのものであるため作りがいがありました。また、クライアントに技術面における知識が少ないため新鮮な経験になりました。そういった方々との話し合いの末、組織内の問題を解決するためのサービスを構築しました。
          %p アプリの主な目標：
          %ul
            %li プログラムのメンバーに関するすべての情報を整理する、リレーショナル·データベースを構築すること。
            %li 時間がかかる小さなタスクを減らすように、 効率を向上させ、組織の従業員に合わせた管理インターフェイスを構築すること。
            %li サイトを訪問する潜在的な雇用者のユーザーエクスペリエンスを向上させるために、新しい機能を創ること。
        #smittencontent
          %h1 Smitten
          %p
            %a{:href => "http://www.smitten.com"}Smitten
            というものはGeneral Assemblyの
            %a{:href => "https://generalassemb.ly/education/web-development-immersive"}Web Development Immersive
            の最終プロジェクトだった。私のチームは
            %a{:href => "http://bayleefeore.com"}ベイリーさん、
            %a{:href => "http://ykitten.github.io"}ワイカットさん、
            と
            %a{:href => ""}エリックさん
            の3名と私でした。メンバー全員、私と同様にクラス受講前にはプログラミング知識がありませんでした。
          %p Smittenは一目惚れを促進するために作成されたアプリです。このチームは若くて楽観的にロマンチックであるから、スーパーやコインランドリーで恋に落ちる男の子か女の子との接触に役立つアプリを作ることにしました。
          %p アプリのハイライト：
          %ul
            %li モバイルウエッブアプリケーション
            %li ナビゲートするために、スワイプ機能
            %li Facebookのソーシャルログイン
            %li ユーザメッセージング
        #hanoicontent
          %h1 ハノイの塔
          %p
            %a{:href => "towersofhanoi"}このゲーム
            の目標はすべてのドーナツを右端のペグに正しい順序で積み上げることです。ユーザーエクスペリエンスを考慮して、ドーナツを動かす方法をクリックではなく、ドラッグでドーナツを動かすようにしました。当アプリはjQueryにベースにしたJavaScriptのライブラリであるjQuery UIを利用しています。
          %p このゲームはもともとRailsアプリであると同時に、「フロントエンド」のアプリであるため、私はアプリ自体を作り変えるのでは無く、一つのページを作成しました。このゲームはHAML、JavaScript、およびCSSのみを使用しています。Ruby等は使用していません。
          %p 楽しんでください！
      .links
        #mailicon
          %a{:href => 'mailto:gabe.p.dominguez@gmail.com'}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/email.png')
        #githubicon
          %a{:href => "https://github.com/gdomingu"}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/github.png')
        #twittericon
          %a{:href => "https://twitter.com/Gabudomingu"}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/twitter.png')
        #linkedinicon
          %a{:href => "http://www.linkedin.com/pub/gabriel-dominguez/29/495/667/"}
            %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/linkedin.png')









