#topnav{
  height:50px;
  background-color:blue;
  text-align: right;
  border-bottom: 1px solid;
}
#topnav a{
  text-decoration: none;
}
#about, #smitten, #dlp, #hanoi{
  height:80%;
  width:100%;
  border-bottom:1px solid;
  text-align: center;
}

.column1, .column2{
  width:50%;
  float:left;
  text-align: center;
}

.content{
  margin:0 auto;
  display:inline-block;
}

ul li{
  text-align: left;
}

/*@media screen and (min-width: 768px) {
  selector { property: value; }
}*/