@import url(http://fonts.googleapis.com/css?family=Syncopate);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
#topnav{
  height:25px;
  background-color:white;
  text-align: right;
  border-bottom: 1px solid;
  padding-top:16px;
  width:100%;
}
#topnav a{
  text-decoration: none;
  margin-right: 5px;
  font-family: 'Oxygen', sans-serif;
  font-size: large;
}
#topnav a:last-child{
  margin-right: 15px;
}
#about, #smitten, #dlp, #hanoi, #welcome{
  height:80%;
  width:100%;
  border-bottom:1px solid;
  font-family: 'Oxygen', sans-serif;
}
#welcome{
  height:83%;
}
h2{
  text-align: center;
  font-family: 'Syncopate', sans-serif;
}

.column1{
  width:70%;
  float:left;
  margin: 0 auto;
  margin-left: 2%;
}

.column2{
  width:28%;
  float:left;
  margin: 0 auto;
}

.content{
  margin:0 auto;
  display:inline-block;
}

ul li{
  text-align: left;
}

fieldset{
  float:left;
}
@media screen and (min-width: 1087px) {
    #about, #smitten, #dlp, #hanoi, #welcome{
      height:100%;
      width:100%;
      border-bottom:1px solid;
      font-family: 'Oxygen', sans-serif;
    }
}
@media screen and (max-width: 900px) {
    .column1, .column2{
      width:90%;
      text-align: center;
    }
}

@media screen and (max-width: 375px) {
    #about, #smitten, #dlp, #hanoi{
      height:100%;
    }
}

#mailicon, #githubicon, #twittericon, #linkedinicon{
  width:90px;
  display:inline-block;
}

.links{
  text-align: center;
  width:100%;
}

#profpic{
  background: url('https://s3-us-west-2.amazonaws.com/gabe-random/DSC_0131smallest.jpg') no-repeat top -70px center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:100%;
   -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
           -ms-filter: grayscale(100%);
               filter: grayscale(100%);
}

#smitten img{
  height:280px;
}