@import url(http://fonts.googleapis.com/css?family=Syncopate);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300);
#topnav{
  height:25px;
  background-color:white;
  text-align: right;
  border-bottom: 1px solid;
  padding-top:16px;
  width:100%;
}
#topnav a{
  text-decoration: none;
  margin-right: 5px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:300;
}
#topnav a:last-child{
  margin-right: 15px;
}
#about, #smitten, #dlp, #hanoi, #welcome{
  height:80%;
  width:100%;
  border-bottom:1px solid;
  font-family: 'Titillium Web', sans-serif;
  font-weight:300;
}
#welcome{
  height:83%;
}
h2{
  text-align: center;
  font-family: 'Syncopate', sans-serif;
}

.column1{
  width:70%;
  float:left;
  margin: 0 auto;
  margin-left: 2%;
}

.column2{
  width:28%;
  float:left;
  margin: 0 auto;
}

.content{
  margin:0 auto;
  display:inline-block;
}

#skills{
  float:left;
  margin-left:40px;
}
#skills ul{
  list-style: none;
  margin-left:0px;
}
ul{
  margin-left:40px;
  padding:0;
}


@media screen and (min-width: 1087px) {
    #about, #smitten, #dlp, #hanoi{
      overflow: hidden;
      height:auto;
    }
    #about, #smitten, #dlp, #hanoi{
      padding-bottom: 30px;
    }
    #dlpscreenshot, #dlpscreenshot2, #hanoiscreenshot{
      width:876px;
      height:511px;
    }
}

@media screen and (max-width: 1085px) {
    #about, #smitten, #dlp, #hanoi{
      overflow: hidden;
      height:auto;
    }
    #about, #smitten, #dlp, #hanoi{
      padding-bottom: 30px;
    }
   #dlpscreenshot, #dlpscreenshot2, #hanoiscreenshot{
     width:876px;
     height:511px;
   }
}


@media screen and (max-width: 850px) {
  .column1, .column2{
    width:90%;
    text-align: center;
  }
    #dlpscreenshot,#dlpscreenshot2, #hanoiscreenshot{
      height:425px;
      width:730px;
    }
}

@media screen and (max-width: 600px) {
  .column1, .column2{
    width:90%;
    text-align: center;
  }
    #dlpscreenshot,#dlpscreenshot2, #hanoiscreenshot{
      height:279px;
      width:480px;
    }
}

@media screen and (max-width: 420px) {
  .column1, .column2{
    width:90%;
    text-align: center;
  }
    #dlpscreenshot,#dlpscreenshot2, #hanoiscreenshot{
      height:221px;
      width:380px;
    }
}

@media screen and (max-width: 321px) {
    #about, #smitten, #dlp, #hanoi{
      height:auto;
    }
    #dlpscreenshot, #dlpscreenshot2, #hanoiscreenshot{
      width:300px;
      height:175px;
    }
    #mailicon, #githubicon, #twittericon, #linkedinicon{
      width:90px;
      margin:10px;
      display:inline-block;
    }
}


#mailicon, #githubicon, #twittericon, #linkedinicon{
  width:90px;
  display:inline-block;
}

.links{
  text-align: center;
  width:100%;
}

#profpic{
  background: url('https://s3-us-west-2.amazonaws.com/gabe-random/DSC_0131smallest.jpg') no-repeat top -70px center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:100%;
   -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
           -ms-filter: grayscale(100%);
               filter: grayscale(100%);
}

#smitten img{
  height:280px;
}

#dlpscreenshot{
  float:left;
  margin: 0 auto;
  margin-left: 2%;
  background: url('https://s3-us-west-2.amazonaws.com/gabe-random/dlphome.png') no-repeat center center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#dlpscreenshot2{
  float:left;
  margin: 0 auto;
  margin-left: 2%;
  background: url('https://s3-us-west-2.amazonaws.com/gabe-random/dispatch.png') no-repeat center center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#hanoiscreenshot{
  float:left;
  margin: 0 auto;
  margin-left: 2%;
  background: url('https://s3-us-west-2.amazonaws.com/gabe-random/hanoiss.png') no-repeat center center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}